*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('kenny-eliason-A59lWOrZVnw-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#main-title{
    display: flex;
    justify-content: center;
    height: 15rem;
    align-items: center;
    font-size: 2.5rem;
    color: whitesmoke;
}
.time{
    text-align: center;
}
#main-container{
    display: flex;
    justify-content: space-around;
    color: white;
    height: 10rem;
    align-items: center;
   
}

.time{
   font-size: 4rem;
   font-family: fantasy;
    font-weight: bold;
    text-shadow: 1px 3px 3px  white;
    
}
.bottom{
    font-size: 2rem;
}